.containe{
    background-color: #076fd8;
    width: 100%;
    height: 750px;
    display: flex;
}
.contain{
    display: grid;
    align-items: center;
    max-width: 400px;
    margin: auto;
    padding: 60px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    border-radius: 6px;
}
.s1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 30px;
}
.em{
    width: 100%;
    margin-bottom: 10px;
    padding: 25px;
    margin-left: -25px;
}
.emai{
    width: 92%;
    padding: 16px;
    margin-bottom: 20px;
}
.pas{
    width: 100%;
    margin-bottom: 10px;
    padding: 25px;
    margin-left: -25px;
}
.pass{
    width: 92%;
    padding: 16px;
    margin-bottom: 8px;
}
.for{
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.user {
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    margin: 4px;
    
}
.don{
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.sig {
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    margin: 10px;
    
}
.signin{
    background-color: #007FFF;
    color: white;
    width: 400px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.signin:hover{
    background-color: blue;
}